<div class='row pad-up-20'><%= render 'layouts/messages' %></div>

<hr>
<div class='row'>
<h3>sign in</h3>
<hr>

<div class='small-6 columns'>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Sign in", :class => 'button [ small small small ]' %></div>
<% end %>

<%= render "admins/shared/links" %>
</div>
</div>
