<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Activemenu" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="off-canvas-wrap">
      <div class="inner-wrap">
        <aside class="left-off-canvas-menu">
          <ul class="off-canvas-list">
            <li><label class="">ActiveMenu</label></li>
            <li data-no-turbolink><%= link_to 'Activemenu', root_path %></li>
          </ul>
        
          <ul class="off-canvas-list">
            <li><label class="lead">Mobile Menu</label></li>
            <li><a data-no-turbolink href="#">Section A</a></li>
            <li><a data-no-turbolink href="#">Section Z</a></li>
          </ul>
        </aside>

        <nav class="tab-bar show-for-small">
          <a class="left-off-canvas-toggle menu-icon ">
            <span>Activemenu</span>
          </a>


        </nav>

        <nav class="top-bar hide-for-small" data-topbar>
          <ul class="title-area">
            <li class="name">
              <h1><%= link_to 'Activemenu', root_path%></h1>
            </li>
          </ul>

          <% if current_admin %>
          <section class="right-small">
           
              <%= link_to 'X', destroy_admin_session_path, :method => 'delete', :class => 'button [tiny tiny tiny] [alert alert alert]' %>
         
          </section>
          <% end %>
        </nav>

        <%= yield %>

        <a class="exit-off-canvas"></a>
      </div>
      
    </div>
    <%= javascript_include_tag "application" %>

    
  </body>
</html>